<h2>{{contact.firstName}} {{contact.lastName}}</h2>

<form name='editContact' novalidate class='form-horizontal'>
   <form-field record='contact' field='firstName' required='true' live='true'></form-field>
   <form-field record='contact' field='lastName' required='true' live='true'></form-field>
   <form-field ng-repeat='(k,v) in contact' record='contact' field={{k}} live='true'></form-field>

   <new-field record='contact'></new-field>

	<div class='row form-group'>
		<div class='col-sm-offset-2'>
			<button class='btn btn-danger' ng-click='delete()'> Delete Contacts </button>
		</div>
	</div>
</form>
